.Header {
  background-color: green;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.Header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.Header h1 {
  font-size: 36px;
  font-family: Arial, sans-serif;
  margin: 0;
}
